   .images {
text-align: center;
justify-content: center;
padding-top: 200px;
margin: auto;
   }

   .btn-container {
    text-align: center;
    padding-right: 450px;
   }

   .topbutton {
    position: relative;
    padding: 41px;
gap: 10px;
     border-radius: 20px;
border: 10px solid #8A15E7;
background: #FBFF47;
      }
   
  .topbutton {
    color: #F10EA4;
font-family: Libre Franklin;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

 .image1 {
    position: absolute;
    top: 0;
    left: 0;
 
  }
  .image2 {
    position: absolute;
    top: 0px;
    left: 0px;
    
  }

  .title {
    position: absolute;
    top: 450px;
    left: 18%;
  }

  .title h1 {
    color: white;
    font-size: 56px;
  }

  .arrow {
    position: absolute;
    top: 65px;
    left: 700px;
  }

  .answer p {
    position: absolute;
    top: 550px;
    left: 350px;
    font-size: 32px;
    font-weight: 900;

  }

  .arrowmove {
    position: absolute;
    bottom: -20px;
    left: 33%;
  }
